<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-offset-3">
          <h1>User Profile</h1>
		  <br>
          <p>Name  : <span><%= name %></span></p>
		  <p>Email : <span><%= email %></span></p>
		  <p>Role  : <span><%= role %></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
